extends layout

block content
  .page-header
    h1.bd-title Actions
    
  .app

  .col-12.col-md-9.pull-md-3.bd-content

    .bot-component
    
    .like-feed-component

    hr

    .follow-followers-component

    hr

    .location-component

    hr 

    .instagram-users-component


